.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 218, 218);
  border-radius: 15px;
  box-shadow: 8px 8px 10px rgba(4, 57, 107, .3);
  cursor: pointer;

  &--active {
    box-shadow: inset 5px 5px 10px rgba(4, 57, 107, .5);
  }

  // &__item {
  //   box-shadow: 15px 0 15px rgb(255, 255, 255);
  // }

  &--size-small {
    width: 50px;
    height: 50px;
  }

  &--size-medium {
    width: 90px;
    height: 90px;
    padding: 5px;
  }
}
