.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(218, 218, 218);
  border-radius: 15px;
  box-shadow: 8px 8px 10px rgba(4, 57, 107, .3);
  cursor: pointer;
  position: relative;

  &--active {
    animation: push 500ms 1;
    box-shadow: inset 2px 2px 5px -2px rgba(4, 57, 107, .7);
    transform: scale(.95);

    @keyframes push {
      10% {
        box-shadow: 8px 8px 10px rgba(4, 57, 107, 0);
      }

      50% {
        transform: scale(1.1);
        box-shadow: inset 2px 2px 5px -2px rgba(4, 57, 107, .4);
      }

      100% {
        box-shadow: inset 2px 2px 5px -2px rgba(4, 57, 107, .7);
        transform: scale(.95);
      }
    }

    .button {
      &__item {
        box-shadow: inset -2px -2px 5px rgba(255, 255, 255, .8);
      }
    }
  }

  &__item {
    box-shadow: -5px -5px 10px rgb(255, 255, 255);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 15px;
  }

  &--size-small {
    width: 50px;
    height: 50px;
  }

  &--size-medium {
    width: 90px;
    height: 90px;
    padding: 5px;
  }

  &--pop {
    animation: pop 500ms 1;

    @keyframes pop {
      from {
        transform: scale(0);
        opacity: 0;
      }

      to {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}
