.icon {
  svg {
    fill: rgb(4, 57, 107);
  }

  &--size-small {
    width: 20px;
  }

  &--size-medium {
    width: 35px;
  }

  &--active {
    transform: rotate(45deg);
    transition: all 300ms;
  }
}
